<Html>
    <body>
          <h3>Cellur Location Finding</h3>
    
    <div>
      <form action="/findLocation" method="POST" >
    
        <label for="mcc">MCC:</label>
        <input type="text" id="mcc" name="mcc">
    
        <label for="mnc">MNC:</label>
        <input type="text" id="mnc" name="mnc" >
    
        <label for="lac">LAC:</label>
        <input type="text" id="lac" name="lac" >
    
        <label for="cid">CID:</label>
        <input type="text" id="cid" name="cid" >
      
    
        <input type="submit" value="Submit">
    
    
      </form>
    </div>
    </body>
    </html>
    